@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Mooli&family=Press+Start+2P&family=Rubik+Gemstones&family=Rubik:wght@400;500;600;700&display=swap");

.app {
  font-family: "Mooli", sans-serif;
  font-weight: bolder;
  .link {
    color: inherit;
    text-decoration: none;
  }
}
